#imageDialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

#image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#imageDialog {
    padding: 0;
    border: none;
    background: transparent;
    max-width: 90vw;
    max-height: 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#imageDialog #closeBtn {
    background-color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
